@tailwind base;
@tailwind components;
@tailwind utilities;

.p5Canvas{
    @apply
    border-[5px]
    border-black
    rounded-lg
}

body{
    @apply
    w-screen
    h-screen
    flex
    items-center
    md:justify-center
    justify-end
    flex-col-reverse
    bg-[#f6f8fa]
    gap-8
    overflow-hidden
}

.menu-item{
    @apply
    h-[100%]
    bg-slate-400
    hover:bg-slate-300
    transition
    border-2
    border-black
    flex
    items-center
    justify-center
    text-lg
}

.grid-item{
    @apply
    grid
    sm:grid-cols-3
    grid-cols-1
    sm:gap-2
    sm:my-2
    text-center
}

.grid-item a {
    @apply
    underline
    transition
    hover:opacity-80
}